v.env
.env
# root env
.env

# backend env
backend/.env

# frontend env
client/.env
client/.env.local
client/.env.development
client/.env.production

# dependencies
node_modules/

# builds
dist/
build/
.next/
